<%- include("partials/header"); -%>

<div class="content">
  <h1>All Product Details</h1>
<%  products.forEach(function(product){%>
    <div class="home">
      <img class="img3" src="<%=product.link%>" alt="product-image can't download." />
      <br>
      <br>
      <h5>Product ID : <%=product._id%></h5>
      <h5>Product Name : <%=product.name%></h5>
      <h5>Product Description: <%=product.description%></h5>
      <hr>
    </div>
  <%});%>
</div>
<%- include("partials/footer"); -%>
